{% extends "new.html" %}
{%block header%}
<header class="masthead" style="background-image: url(/static/uploads/dijam2.jpg)">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-left">
          <div class="col-md-10 col-lg-8 col-xl-7">
              <div class="page-heading justify-content-left">
                  <h2>Hi, I am Abdulamjid</h2>
                  <span class="subheading">A DevOps enthusiast and Cloud architect</span>
              </div>
          </div>
      </div>
  </div>
</header>
{%endblock%}

{%block content%}
<div class="container px-4 px-lg-5 justify-content-center">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <p>I am a budding Devops enthusiast hoping to learn about different Devops technologies to make history and improve your business</p>
            <p>My passion for the cloud and DevOps made him study and pass the much coveted AWS Solutions Architect Associate Certification. He is presently studiying for DevOps, building projects with the DevOps mentality and technologies, and also rendering help to people who want to venture into the awesome world of cloud computing</p>
            <p>I have experience in building with C++, Kotlin and Python and he is very much eager to document his progress as he proceeds with DevOps</p>
            <p>You can reach out to me my clicking any of the links below</p>
</div>

{%endblock%} 